#=======================================================================
# Data handling and visualization
#========================================================================
numpy
pandas
matplotlib

#=========================================================================
# NLP DATA PROCESSING
#=========================================================================
nltk
fastapi
uvicorn
scikit-learn
joblib


